.current_event{
    background-color: #F0F0F0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.current_event h4{
    margin: 0px;
    font-size: 1.1em;
}
.current_event small{
    margin: 0px;
}
.current_event .time-bar{
    width: 100%;
    background-color: #7F4EC9;
    height: 5px;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}
